body {
    overflow: hidden;
    background-image: url("clipart211491.png");
    height: 100vh;
    width: 100vw;
    background-color: bisque;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
  }
  
  .players{
    background-color: whitesmoke;

  }